<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/css/hoja-estilos-principal.css">
  <script src="./assets/js/estilo.js" type="text/javascript"></script>
  <title>Document</title>
</head>

<body class="imagnsss">




  <div class="todo-wrapper" ng-controller="TodoCtrl">
    <h2>ToDo list: <span class="emphasis"></span></h2>
    <ul>
      <li ng-repeat="todo in todos">
        <input type="checkbox" ng-model="todo.done" />
        <span class="vestirse">Vestirse</span>   
      </li>
    </ul>
    <ul>
      <li ng-repeat="todo in todos">
        <input type="checkbox" ng-model="todo.done" />
        <span class="vestirse">Vestirse</span>   
      </li>
    </ul>
    <ul>
      <li ng-repeat="todo in todos">
        <input type="checkbox" ng-model="todo.done" />
        <span class="vestirse">Hacer tareas en clases </span>   
      </li>
    </ul>
    <ul>
      <li ng-repeat="todo in todos">
        <input type="checkbox" ng-model="todo.done" />
        <span class="vestirse">Levantarce Temprano </span>   
      </li>
    </ul>
    <ul>
      <li ng-repeat="todo in todos">
        <input type="checkbox" ng-model="todo.done" />
        <span class="vestirse">leer de vez en cuando</span>   
      </li>
    </ul>
    <ul>
      <li ng-repeat="todo in todos">
        <input type="checkbox" ng-model="todo.done" />
        <span class="vestirse">Trabajo grupal </span>   
      </li>
    </ul>
    <ul>
      <li ng-repeat="todo in todos">
        <input type="checkbox" ng-model="todo.done" />
        <span class="vestirse">Limpiar su aria </span>   
      </li>
    </ul>
    <form>
      <input class="add-input" placeholder="I need to..." type="text" ng-model="formTodoText" ng-model-instant />
      <button class="add-btn" ng-click="addTodo()">
        <h2>Add</h2>
      </button>
    </form>

    
  </div>



</body>

</html>